<html>
	<head>
		<style>
			* {margin: 0; padding: 0;}
			#header {height: 50px; width: 100%; background-color: #444; border-bottom: 1px solid black;}
			#mainarea {width: 80%; margin: 50 auto;}
			form p {font-size: 20px; font-family: sans-serif; margin-top: 30px;}
			form input[type='text'] {margin-top: 10px; font-size: 16px; width: 200px; height: 30px;}
			input[type="submit"] {margin-top: 20px; font-size: 20px; width:80px;}
			form textarea {margin-top: 10px; font-size: 16px; width: 300px; height: 100px;}

			.clear {clear: both;}
		</style>
	</head>
	<body>
		<div id='header'>
		</div>
		<div id='mainarea'>
			<form action='' method='post'>
				{%if bucket%}
					<p>Bucket Name:</p><input type='text' name='name' value='{{bucket.name}}'/><br/>
					<p>Keywords:</p><textarea name='keywords'>{{bucket.keywords}}</textarea><br/>
					<p>Seed Profiles:</p><textarea name='seed'>{{bucket.bucketseed_set.get.seedprofile}}</textarea><br/>
				{%else%}
					<p>Bucket Name:</p><input type='text' name='name'/><br/>
					<p>Keywords:</p><textarea name='keywords'></textarea><br/>
					<p>Seed Profiles:</p><textarea name='seed'></textarea><br/>
				{%endif%}
				<input type='submit' value='submit'/>		
			</form>
		</div>
	</body>
</html>