<html>
	<head>
		<style>
			* {margin: 0; padding: 0;}
			#header {height: 50px; width: 100%; background-color: #444; border-bottom: 1px solid black;}
			#mainarea {width: 80%; margin: 50 auto;}
			.bucket {margin-top: 20px;}
			.bucket_title {display:inline-block; font-size: 24px; font-family: sans-serif; width: 25%; vertical-align: top;}
			.bucket_tags {display:inline-block; width: 35%; font-size: 15px; font-family: sans-serif; vertical-align: top; line-height: 25px; word-spacing: 5px;}
			.seedprofile {display:inline-block; width: 35%; font-size: 15px; font-family: sans-serif; vertical-align: top;}
			.seedprofile a{ width: auto; display:inline-block; margin: 3px; text-decoration: none;}
			.clear {clear: both;}
		</style>
	</head>
	<body>
		<div id='header'>
		</div>
		<div style='height: 50px; width: 100%; border-bottom: 1px solid black;'>
			<p style='width: 200px; font-size:20px; font-family:sans-serif; line-height:45px; padding-left:70%;'>
				<a href='/createbucket/' style='color:#464646;'>Create Bucket</a>
			</p>
		</div>
		<div id='mainarea'>
			{%for each_b in buckets%}
				<div class='bucket'>
					<div class='bucket_title'>
						<p>{{each_b.name}}</p>
						<p style='font-size:16px; margin-top:10px;'><a href='/bucket/{{each_b.id}}/edit/' style='color:#666;'>edit</a></p>
					</div>
					<div class='bucket_tags'>{{each_b.keywords}}</div>
					<div class='seedprofile'>
						hi
					</div>
					<div class='clear'></div>
				</div>
			{%endfor%}


		</div>
	</body>
</html>