{%load division%}

<html>
	<head>
		<style>
			* {font-family: sans-serif; font-size: 16px; word-spacing: 3px; margin: 0; padding: 0; }
			body {width: 80%; margin: 50px auto;}
			.entry {width: 100%; font-size: 0; border-bottom: 1px solid grey; margin-top: 20px; padding-bottom: 5px;}
			.entry .screen_name {width:15%; display: inline-block; font-size: 16px; border-bottom: 0px solid grey;}
			.entry .screen_name p {vertical-align:top; }
			.entry .friends {width:15%; display: inline-block; font-size: 16px; border-bottom: 0px solid grey;}
			.entry .friends p {vertical-align:top; text-align: center;}
			.entry .followers {width:15%; display: inline-block; font-size: 16px; border-bottom: 0px solid grey;}
			.entry .followers p {vertical-align:top; text-align: center;}
			.entry .ffratio {width:15%; display: inline-block; font-size: 16px; border-bottom: 0px solid grey;}
			.entry .ffratio p {vertical-align:top; text-align: center;}
			.entry .commonfriend {width:15%; display: inline-block; font-size: 16px; border-bottom: 0px solid grey;}
			.entry .commonfriend p {vertical-align:top; text-align: center;}
			.entry .created_at {width:20%; display: inline-block; font-size: 16px; border-bottom: 0px solid grey;}
			.entry .created_at p {vertical-align:top; font-size: 14px;}
			
		</style>
		<title>Insight</title>
	</head>
	<body>
		<div class='entry'>
			<div class='screen_name'><p style='color:red; font-size:20px;'>Screen Name</p></div>
			<div class='friends'><p style='color:red; font-size:20px;'>Friends</p></div>
			<div class='followers'><p style='color:red; font-size:20px;'>Followers</p></div>
			<div class='ffratio'><p style='color:red; font-size:20px;'>Friends/Followers</p></div>
			<div class='commonfriend'><p style='color:red; font-size:20px;'>Common Friends</p></div>
			<div class='created_at'><p style='color:red; font-size:20px;'>User Since</p></div>
		</div>
		{%for u in userlist%}
			<div class='entry'>
				<div class='screen_name'><p>@{{u.userdetail.screen_name}}</p></div>
				<div class='friends'><p>{{u.userdetail.friends_count}}</p></div>
				<div class='followers'><p>{{u.userdetail.followers_count}}</p></div>
				<div class='ffratio'><p>{{ u.userdetail.followers_count|divide:u.userdetail.friends_count }}</p></div>
				<div class='commonfriend'><p>{{u.commonfriends_count}}</p></div>
				<div class='created_at'><p>{{u.created_at|timesince}}</p></div>
			</div>
		{%endfor%}
		<!--{%for u in userlist%}
			<div class='entry'>
				<div><a href='http://twitter.com/{{u.userdetail.screen_name}}'>@{{u.userdetail.screen_name}}</a></div>
				<div><span>followers/following({{u.userdetail.followers_count}}/{{u.userdetail.friends_count}})</span><span>={{ u.userdetail.followers_count|divide:u.userdetail.friends_count }}</span></div>
			</div>
		{%endfor%}-->
	</body>
</html>
