{%load division%}
<html>
	<head>
		<style>
			* {margin: 0; padding: 0; font-family: sans-serif; font-size: 16px;}
			#content {width: 80%; margin: 20px auto;}
			#controls {width: 80%; margin: 20px auto;}
			a {text-decoration: none; color: green;}
			.entry {width: 100%; padding-top: 20px; background-color: #eee; font-size: 0;}
			
			.entry .name {width: 20%; display: inline-block; font-size: 0;}
			.entry .name p {
				vertical-align: top; width: auto; display: inline-block; font-size: 18px; 
				line-height: 50px; padding-left: 10px; word-wrap: break-word;
			}
			.entry .name img {display: inline-block; padding: 3px;}
			.entry .friends {width: 5%; display: inline-block; vertical-align: top; }
			.entry .friends p {line-height: 55px; font-size: 16px;}
			
			.entry .followers {width: 5%; display: inline-block; vertical-align: top; }
			.entry .followers p {line-height: 55px; font-size: 16px;}
			
			.entry .membersince {width: 10%; display: inline-block; vertical-align: top; }
			.entry .membersince p {line-height: 55px; font-size: 16px; text-align: center;}
			
			.entry .location {width: 10%; display: inline-block; vertical-align: top; }
			.entry .location p {line-height: 55px; font-size: 16px; word-wrap: break-word;}
			
			.entry .desc {width: 30%; display: inline-block; vertical-align: top; }
			.entry .desc p {line-height: 25px; font-size: 16px;}
			
			.entry .url {width: 20%; display: inline-block; }
			.entry .url p {text-align: center; line-height: 25px; font-size: 16px; word-wrap: break-word;}
		</style>
		<script>
			function cleartext(d){
				d.value = '';
				d.style.fontSize = '22px';
				d.style.letterSpacing = '1px';
				d.style.wordSpacing = '1px';
				d.style.color = 'black';
			}
		</script>
	<head>
	<body>
		<div id='header' style='width:100%; height:50px; background-color:#444;'>
			<p style='margin-left:20px;'>
				<a href='/' style='display:inline-block; font-size:35px; color:#eee; line-height:50px; font-weight:100;'>
					Home
				</a>
			</p>
		</div>
		<div id='controls'>
			<div style='width:45%; display:inline-block; vertical-align:top;'>
				<form action='.'>
					<div style='margin-top:20px;'>
						<p style='display: inline-block; min-width:200px; font-size:20px; line-height:25px; color: green;'>Follower Count:</p>
						<select name='follower_operation' style='height:25px; margin-top:0; padding-top:0; vertical-align:top; font-size:18px;'>
							<option value='$gt'>></option>
							<option value='$lt'><</option>
						</select>
						<input type='number' value='0' name='followers_count' style='width:100px; font-size:20px; height:25px; margin-left:20px; vertical-align:top;'/>
					</div>
					<div style='margin-top:20px;'>
						<p style='display: inline-block; min-width:200px; font-size:20px; line-height:25px; color: green;'>Friends Count:</p>
						<select name='friend_operation' style='height:25px; margin-top:0; padding-top:0; vertical-align:top; font-size:18px;'>
							<option value='$gt'>></option>
							<option value='$lt'><</option>
						</select>
						<input type='number' value='0' name='friends_count' style='width:100px; font-size:20px; height:25px; margin-left:20px; vertical-align:top;'/>
					</div>
					<div style='margin-top:20px;'>
						<input type='text' name='query' value=' Search' onfocus="cleartext(this)" style='width:375px; height:40px; font-size: 18px; font-weight:300; color:green;'/>
					</div>
					<div style='margin-top:30px;'>
						<input type='submit' value='submit' style='font-size: 20px;'/>
					</div>
				</form>
			</div>
			<div style='width:45%; display:inline-block; vertical-align:top;'>
				<p style='vertical-align:top; margin-top:10px;'><span style='font-size:20px; font-weight:100;'>Bucket Name :</span><span style='margin-left: 50px; font-size:24px; font-weight:100;'>TravelBucket</span></p>

				<p style='vertical-align:top; margin-top:10px;'><span style='font-size:20px; font-weight:100;'>Total Results &nbsp;:</span><span style='margin-left: 50px; font-size:24px; font-weight:100;'>{{total_count}}</span></p>
				
				<p style='vertical-align:top; margin-top:30px;'>
					<span>
						{%if prev_page_num%}
							{%if q %}
								<a href='/?page={{prev_page_num}}&{{q}}' style='font-size:22px; font-weight:100;'>Prev</a>
							{%else%}
								<a href='/?page={{prev_page_num}}' style='font-size:22px; font-weight:100;'>Prev</a>
							{%endif%}
						{%endif%}
					</span>
					<span style='margin-left: 20px;'>
						<u style='font-size:25px; font-weight:500;'>{{current_page_num}}</u>
					</span>
					<span style='margin-left: 20px;'>
						{%if next_page_num%}
							{%if q %}
								<a href='/?page={{next_page_num}}&{{q}}' style='font-size:22px; font-weight:100;'>Next</a>
							{%else%}
								<a href='/?page={{next_page_num}}' style='font-size:22px; font-weight:100;'>Next</a>
							{%endif%}
						{%endif%}
				</p>
			</div>
		</div>
		
		<div id='content'>
			{% for prof in twitter_profiles %}
				<div class='entry'>
					<div class='name'>
						<img src='{{prof.profile_image_url}}'/>
						<p><a href='https://twitter.com/{{prof.screen_name}}'>{{prof.name}}</a></p>
					</div>
					<div class='friends'><p>{{prof.friends_count}}</p></div>
					<div class='followers'><p>{{prof.followers_count}}</p></div>
					<div class='membersince'><p>{{prof.created_at|formatdate}}</p></div>
					<div class='location'><p>{{prof.location}}</p></div>
					<div class='desc'><p>{{prof.description}}</p></div>
					<div class='url'><p>{%if prof.url%}<a href='{{prof.url}}'>{{prof.url}}</a>{%endif%}</p></div>
					<hr/>
				</div>
			{% endfor %}
		</div>
	</body>
</html>