<html>
    <head>
        <title>Welcome</title>
        <script type="text/javascript" src="/site_media/js/raphael-min.js"></script>
        <script type="text/javascript" src="/site_media/js/dracula_graffle.js"></script>
        <script type="text/javascript" src="/site_media/js/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="/site_media/js/dracula_graph.js"></script>
        <script>
            String.prototype.format = function() {
                var formatted = this;
                for (var i = 0; i < arguments.length; i++) {
                    var regexp = new RegExp('\\{'+i+'\\}', 'gi');
                    formatted = formatted.replace(regexp, arguments[i]);
                }
                return formatted;
            };
        </script>
        <script type="text/javascript">
            window.onload = function() {
                    var width = $('div#canvas').width();
                    var height = $('div#canvas').height();

                    g = new Graph();
                    {%if source%}
                        var render = function(r, n){
                            var set = r.set().push(
                                                    r.image("{{source.2}}", n.point[0], n.point[1], 60, 60),
                                                    r.text(n.point[0]+30, n.point[1]+70, "{{source.0}}").attr({"font-size": 16})
                                                  );
                            return set;
                        }
                        g.addNode("{{source.0}}", {label: "{{source.0}}", render: render});
                        {%for t in targets%}
                            var render = function(r, n){
                                                var set = r.set().push(
                                                    r.image("{{t.2}}", n.point[0], n.point[1], 45, 45),
                                                    r.text(n.point[0]+25, n.point[1]+60, "{{t.0}}").attr({"href": "/?userid={{t.1}}", "font-size": 14})
                                                );
                                                return set;
                                            }
                            g.addNode("{{t.0}}", {label: "{{t.0}}", render: render});
                            g.addEdge("{{source.0}}", "{{t.0}}", { directed : true, stroke : "#B43104" , fill : "#B43104"});
                        {%endfor%}
                        layouter = new Graph.Layout.Spring(g);
                        renderer = new Graph.Renderer.Raphael('canvas', g, width, height);
                    {%endif%}
            }
        </script>
        <style>
            body, p, li {
                font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
                font-size: 18px;
                font-weight: normal;
                line-height: 1.6;
            }
        </style>
    </head>
    <body style="width:100%; margin: 0 auto;">
        <div id="header" style="margin: 20 auto;">
            <form method='post' action='/peoplesearch/'style="margin-left:300px;">{%csrf_token%}
                <input type="input" name="username" style="width:300px; height:35px;"/>
                <input type="submit" value="Search"/>
            </form>
            <div id="searchresult" style="width:100%;">
                {%if search_result%}
                    {%for res in search_result%}
                        <div style="float:left; width:200px; margin-left:10px; margin-top:10px;">
                            <a href="/?userid={{res.1}}" style="text-decoration: none;">
                                <img src={{res.2}} style="float:left;" align="left"/>
                                <span style="float:left; margin-top:15px; margin-left:10px; font-size: 14px;">{{res.0}}</span>
                            </a>
                        </div>
                    {%endfor%}
                {%else%}
                    No Result
                {%endif%}
            </div>
        </div>
        <div id="mainarea"></div>
        <div id="canvas" style="height:500px;width:100%;"></div>
    </body>
</html>
